Package: com.thomasfinch.alarmcontrol
Name: AlarmControl
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Quickly toggle all alarms on or off
Maintainer: Thomas Finch
Author: Thomas Finch
Section: Tweaks
